.img_resize{   
    width:50px;
    height:50px;
}
.img_profile{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:50px;
    height:50px;
    position :relative ;
    float :right ;	
} 